header {
    display: flex;
    background-color: #DFE6ED;
}

body {
    background-color: #C3CFD9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 {
    margin-left: 35%;
    margin-right: auto;
}

header button {
    color: white;
    background-color: #4B5C6B;
    height: 30px;
    width: 100px;
    margin: 25px 5px;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header a {
    text-decoration: none;
}

.divInputs input,
button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    width: 95%;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.divInputs input {
    box-sizing: border-box;
}

.divInputs button {
    color: white;
    background-color: #4B5C6B;
}

.divErro {
    display: block;
    color: white;
    background-color: rgb(255, 64, 64);
    text-align: center;
    padding: 1px;
    width: 95%;
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
}

.divSucesso {
    display: block;
    color: white;
    background-color: rgb(34, 110, 79);
    text-align: center;
    padding: 1px;
    width: 95%;
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
}

.divMostrarLivros {
    background-color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    width: 95%;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}